@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Merriweather", serif;
}

/* header section styles */
header {
  background-image: linear-gradient(
      180deg,
      rgb(7, 2, 17),
      rgba(7, 2, 17, 0) 100%
    ),
    url("../assets/Banner\ Image.png");
  height: 200px;
  padding: 177px 330px;
  margin: 50px 150px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: aqua;
  border-radius: 16px;
}
header > p,
h1 {
  color: white;
  text-align: center;
}
header > p {
  font-size: 32px;
  line-height: 40px;
  font-weight: 400;
  margin-bottom: 16px;
}
header > h1 {
  font-size: 72px;
  line-height: 95px;
  font-weight: 900;
}

/* offer section styles */
.offer {
  margin: 120px 400px;
  text-align: center;
}
.offer h1 {
  color: red;
  font-size: 88px;
  font-weight: 700;
  line-height: 107px;
  margin-bottom: 48px;
}
.offer .sub {
  color: red;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  margin-bottom: 16px;
}
.offer h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  margin-bottom: 48px;
}

/* party section here */
.party {
  margin: 120px 140px;
  height: 560px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
      90deg,
      rgb(7, 2, 17),
      rgba(7, 2, 17, 0) 100%
    ),
    url("../assets/Vectorrr.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 16px;
}
.party .img {
  width: 27%;
  margin-right: 125px;
}
.party .img img {
  width: 100%;
}
.party .content {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 126px;
  width: 55%;
}
.party .content h1 {
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 11%;
  text-align: left;
  margin-bottom: 24px;
}
.party .content p {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 48px;
}
.party .content a {
  font-family: Inter;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  cursor: pointer;
}

/* Location section */
.location {
  border-radius: 16px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1),
    rgba(255, 0, 0, 0) 100%
  );
  padding: 100px 385px;
  margin: 100px 140px;
  text-align: center;
}
.location span {
  color: red;
}
.location span,
p {
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: 0%;
  text-align: center;
}
.location button {
  color: white;
  border-radius: 8px;
  background: rgb(255, 0, 0);
  margin: 48px;
  padding: 16px 32px 16px 32px;
  border: none;
  cursor: pointer;
}

/* coming-soon section style */
.coming-soon {
  margin: 100px 140px;
  display: flex;
  justify-content: space-between;
}

.coming-soon .left {
  width: 30%;
  text-align: left;
}
.coming-soon .left h1 {
  color: rgb(7, 2, 17);
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 22px;
}
.coming-soon .left .title {
  color: red;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  margin-bottom: 16px;
  text-align: left;
}
.coming-soon .left .description {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: left;
}
.coming-soon .right {
  width: 276px;
}
.coming-soon .right h1 {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 16px;
}
.coming-soon .right p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 43px;
}
.coming-soon .right img {
  width: 140px;
  height: 140px;
}
.coming-soon img {
  width: 365px;
  height: 365px;
  border: 10px solid red;
  border-radius: 220px;
  padding: 10px;
}

/* holyday section style */
.holiday-offer {
  margin: 100px 140px;
}
.holiday-offer .title {
  text-align: center;
}
.holiday-offer .title .sub {
  color: rgb(7, 2, 17);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  margin-bottom: 16px;
}

.holiday-offer .title h1 {
  color: black;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  line-height: 91px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 28px;
}
.holiday-offer .title h1 span {
  color: red;
}
.holiday-offer .title .description {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 64px;
}
.holiday-offer .img {
  width: 1320px;
  height: 662px;
  position: relative;
}
.holiday-offer #floor {
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.holiday-offer #lady {
  position: absolute;
  right: 0px;
}
.holiday-offer #gift {
  width: 500px;
  position: absolute;
  left: 100px;
  bottom: 44px;
}
.holiday-offer #discount {
  position: absolute;
  right: 277px;
  top: 77px;
}

/* gift section styles */
.gift {
  margin: 100px 140px;
}
.gift .title .sub {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 16px;
}
.gift .title h1 {
  color: rgb(7, 2, 17);
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
  margin-bottom: 22px;
}
.gift .title .description {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 48px;
}
.gift .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

/* newsletter section style */
.newsletter {
  margin: 100px 140px;
  padding: 80px 212px;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}
.newsletter img {
  margin-bottom: 46px;
  width: 150px;
}
.newsletter h1 {
  margin-bottom: 22px;
  color: rgb(7, 2, 17);
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
}
.newsletter p {
  margin-bottom: 48px;
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
}
.newsletter input[type="text"] {
    width: 438px;
    margin-right: 0px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  padding-top: 25px;
  padding-left: 30px;
  padding-bottom: 25px;
  border-radius: 50px 0px 0px 50px;
  border-style: none;
}
.newsletter input[type="submit"]{
font-family: Inter;
font-size: 20px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
    margin-left: 0px;
    color: white;
    background-color: red;
    padding: 24px 56px;
    border-style: none;
    border-radius: 0px 50px 50px 0px;
    cursor: pointer;
}
.newsletter input[type="submit"]:hover{
    background-color:rgb(226, 4, 4);
}
.newsletter form{
    display: flex;
    gap: 0px;
}

/* footer section styles */
.footer{
    margin: 0px;
    padding: 120px 140px;
    background: rgb(7, 2, 17);
    color: white;
}
.footer .top{
display: flex;
justify-content: space-between;

}
.footer .top p{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 24px;
font-weight: 500;
line-height: 40px;
letter-spacing: 0%;
text-align: left;
}
.footer hr{
    margin: 50px 0px;
    border: 1px solid rgba(255, 255, 255, 0.15);
}
.footer .copyright{
    display: flex;
justify-content: space-between;
}
.footer .copyright p{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 24px;
font-weight: 500;
line-height: 40px;
letter-spacing: 0%;
text-align: left;
}
.footer .social img{
width: 64px;
height: 64px;
}
.footer .social {
    display: flex;
    gap: 24px;
    justify-content: center;

}
